@model IEnumerable<ProyectoRRHH.Models.empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>

<p>
    <a class="btn btn-primary" asp-action="Excel">Reportes</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salariomensual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cedulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departamentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puestoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                    @{
                        var fechaingreso = ((DateOnly)item.fechaingreso).ToString("dd/MM/yyyy");
                    }
                @Html.DisplayFor(modelItem => fechaingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salariomensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedulaNavigation.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamentoNavigation.departamento1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puestoNavigation.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
