@model IEnumerable<ProyectoRRHH.Models.idioma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Idiomas</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Idioma</h4>
            </th>
            <th>
                <h4>Nivel</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivel)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.id">Editar</a> |
                    <!--<a asp-action="Details" class="btn btn-primary" asp-route-id="@item.id">Detalles</a>-->
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
